node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
build
.DS_Store
*.log
.vscode
.idea
coverage
.nyc_output
*.swp
*.swo
*~
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
*.pid
*.seed
*.pid.lock