[mysqld]
bind-address = 0.0.0.0
default-authentication-plugin = mysql_native_password
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init-connect = 'SET NAMES utf8mb4'
default-time-zone = '+09:00'

max_connections = 200
innodb_buffer_pool_size = 128M

log-error = /var/lib/mysql/error.log
slow-query-log = 1
slow-query-log-file = /var/lib/mysql/slow.log
long_query_time = 2

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
